@media screen and (orientation: landscape) and (max-width: 1200px) {
  .left-panel,
  #qrcode-container,
  .bottom-elements {
    display: none; /* Alapértelmezett elrejtés landscape nézetben */
  }
  #openbtn {
    display: block; /* Biztosítjuk, hogy az openbtn látható legyen */
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 100;
  }
  .current-floor-display {
    font-size: 1rem;
  }
  .grid div {
    min-width: 3em;
    min-height: 3em;
    font-size: 0.8rem;
  }
  .left-panel.active {
    display: block; /* Az active sidebar látható legyen */
    position: fixed;
    left: 10px; /* A sidebar pozíciója landscape nézetben */
    width: 275px;
    height: 80dvh;
    scale: 0.8;
    transform-origin: top left; /* A skálázás kiindulópontja */
  }
  .grid {
    top: 0%;
    grid-template-columns: repeat(20, calc(3em * 0.8));
    zoom: 0.6;
    left: 10%;
  }
  #arrow-container {
    left: 0%;
    right: auto;
  }
}

@media screen and (orientation: portrait) and (max-width: 768px) {
  .grid,
  .current-floor-display,
  #arrow-container,
  .left-panel,
  #openbtn {
    display: none !important; /* Minden elrejtése portrait nézetben */
  }
  #orientationOverlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 1300px) {
  .searchable-select-label,
  .floor-select-label {
    font-size: 0.9rem;
  }
  .searchable-select-input,
  .search-button,
  .reset-button {
    font-size: 0.9rem;
  }
}

@media screen and (orientation: landscape) and (max-height: 400px) {
  .bottom-elements {
    display: none;
  }
  button {
    padding: 5px;
  }
  #arrow-container {
    left: 0%;
    right: auto;
  }
}
