:root {
  --font-family: "Poppins", sans-serif;
  --primary-color: #151515;
  --secondary-color: #0084a5;
  --text-color: white;
  --accent-color: #00a9ff;
  --border-color: rgba(45, 45, 45, 0.75);
  --blur-effect: blur(7.4px);
  --box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  --transition: all 0.3s ease;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  height: 100dvh;
  background-color: var(--primary-color);
  background-image: radial-gradient(
    rgba(115, 115, 115, 0.06) 2px,
    transparent 0
  );
  background-size: 30px 30px;
  background-position: -5px -5px;
  overflow: hidden;
  margin: 0;
  padding: 5px;
}

/* QR Code Container */
#qrcode-container {
  display: flex;
  margin: 0 auto;
  width: fit-content;

  padding: 10px;
  backdrop-filter: var(--blur-effect);
  -webkit-backdrop-filter: var(--blur-effect);
}

#qrcode-container.animate {
  animation: containerBorderPulse 2s alternate;
}

#qr-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#qrcode {
  display: none;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 10px;
}

/* Messages */
.message-separator {
  align-self: center;
  border: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  margin: 5px 0;
  width: 80%;
}

.tuto-message,
.tuto-message-center,
#qr-message {
  font-size: 0.9rem;
  color: #ccc;
  margin-top: -2.5px;
  margin-bottom: 5px;
}

.tuto-message-center,
#qr-message {
  text-align: center;
}

/* Logo Container */
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-container img {
  width: 50px;
  height: auto;
}

.logo-container h1 {
  font-size: 1.5rem;
  margin: 0;
}

/* Bottom Elements */
.bottom-elements {
  position: absolute;
  bottom: 15px;
  width: calc(100% - 30px);
  text-align: center;
}

/* Searchable Select */
.searchable-select {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 15px;
}

.searchable-select input {
  font-family: var(--font-family);
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;
  background: #005580;
  color: #e6f3ff;
  cursor: pointer;
  transition: var(--transition);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--blur-effect);
  -webkit-backdrop-filter: var(--blur-effect);
  border: 1px solid var(--accent-color);
}

.searchable-select input:hover {
  background: #006597;
  border-color: var(--accent-color);
}

.searchable-select input:focus {
  outline: none;
  box-shadow: 0 0 8px var(--accent-color);
  background: #00293d;
  border-color: var(--accent-color);
  color: #ffffff;
}

.searchable-select input:active {
  background: #001a22;
  box-shadow: 0 0 12px rgba(0, 198, 255, 0.5);
  border-color: #00c6ff;
}

::placeholder {
  color: var(--accent-color);
  opacity: 0.95;
}

button,
.reset-button {
  font-family: var(--font-family);
  color: var(--text-color);
  cursor: pointer;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--blur-effect);
  -webkit-backdrop-filter: var(--blur-effect);
  border: 1px solid;
}

.search-button {
  background: #00451a;
  border-color: #00cf4f;
}

.search-button:hover {
  background: #003b17;
  color: #00cf4f;
  text-shadow: #00451a 1px 1px 1px;
  border-color: #005822;
}

button:hover {
  background: #373d3a;
  color: #7a7e7b;
}

button {
  background: #3d3537;
  border-color: #66595c;
}

.reset-button {
  background: #45000f;
  border-color: #cf0034;
}

.reset-button:hover {
  background: #3b000f;
  color: #cf0034;
  text-shadow: #45000f 1px 1px 1px;
  border-color: #58000f;
}

/* Grid and Map */
.grid {
  display: grid;
  grid-template-columns: repeat(20, 3em);
  gap: 5px;
  padding: 10px;
  position: absolute;
  cursor: grab;
  top: 10%;
  left: calc(15% + 10em);
  background: rgba(25, 25, 25, 0.5);
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  backdrop-filter: var(--blur-effect);
  -webkit-backdrop-filter: var(--blur-effect);
  border: 1px solid var(--border-color);
  transform-origin: center;
  transition: transform 0.1s ease-out;
}

.grid div {
  display: flex;
  justify-content: center;
  width: 3em;
  height: 3em;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 7.5px;
  font-weight: bold;
  text-align: center;
  color: rgb(25, 25, 25);
}

.grid .black {
  background: rgba(255, 255, 255, 0.05);
  color: transparent;
}

.grid .path {
  animation: glow 2s infinite alternate cubic-bezier(0.4, 0, 0.2, 1);
}

/* Keyframes */
@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(0, 132, 165, 0.5);
    background-color: rgba(0, 132, 165, 0.4);
    border: 1px solid rgba(0, 132, 165, 0.8);
    color: white;
    -webkit-box-shadow: 0 0 5px rgba(0, 132, 165, 0.5);
  }
  50% {
    box-shadow: 0 0 15px rgba(0, 132, 165, 1);
    background-color: rgba(0, 132, 165, 0.9);
    border: 1px solid rgba(0, 132, 165, 1);
    color: white;
    -webkit-box-shadow: 0 0 15px rgba(0, 132, 165, 1);
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 132, 165, 0.5);
    background-color: rgba(0, 132, 165, 0.4);
    border: 1px solid rgba(0, 132, 165, 0.8);
    color: white;
    -webkit-box-shadow: 0 0 5px rgba(0, 132, 165, 0.5);
  }
}

@keyframes containerBorderPulse {
  0% {
    border-color: var(--border-color);
  }
  25% {
    border-color: var(--secondary-color);
  }
  50% {
    border-color: rgba(57, 57, 57, 0.75);
  }
  75% {
    border-color: rgba(51, 51, 51, 0.75);
  }
  100% {
    border-color: var(--border-color);
  }
}

/* Media Queries */

#orientationOverlay {
  display: none;
}

.left-panel {
  display: none;
}

.left-panel.active {
  display: flex;

  padding: 10px;
  flex-direction: column;
  gap: 10px;
  height: calc(100dvh - 10px);
  background: rgba(25, 25, 25, 0.5);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);

  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(45, 45, 45, 0.75);
  box-sizing: border-box;
  align-self: center;
  animation: fadeIn 0.2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
